<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAklmZEnrFJ8LmfBtTuTkmjo844CuSaKrE</string>
	<key>GCM_SENDER_ID</key>
	<string>353640546220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikhailov.PlaySentinel</string>
	<key>PROJECT_ID</key>
	<string>playsentinel</string>
	<key>STORAGE_BUCKET</key>
	<string>playsentinel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353640546220:ios:eb51559b87132c45f40409</string>
</dict>
</plist>